includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - message: '#Unable to resolve the template type TKey in call to function collect#'
          paths: 
              - %currentWorkingDirectory%/app/Services/Banks/SantanderService.php
              - %currentWorkingDirectory%/app/Services/Banks/PagBankService.php
        - message: '#Unable to resolve the template type TValue in call to function collect#'
          paths: 
              - %currentWorkingDirectory%/app/Services/Banks/SantanderService.php
              - %currentWorkingDirectory%/app/Services/Banks/PagBankService.php