name: FinSync CI

on:
  push:
    branches:
      - feature/API-48-criando-ci

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 游뚴 Checkout do reposit칩rio
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"

      - name: Instalar Package.json
        run: npm install
      - name: Build Assets
        run: npm run build

      - name: Deploy para Servidor
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          ARGS: "-rlgoDzvc -i --delete"
          SOURCE: "./"
          REMOTE_HOST: ${{ vars.REMOTE_HOST }}
          REMOTE_USER: ${{ vars.REMOTE_USER }}
          REMOTE_PORT: ${{ vars.REMOTE_PORT }}
          TARGET: ${{ vars.TARGET }}

      - name: Executa comandos remotos via ssh
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ vars.REMOTE_HOST }}
          username: ${{ vars.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ vars.REMOTE_PORT }}
          script: |
            cp -f composer.phar ${{ vars.TARGET }}
            cd ${{ vars.TARGET }}

            # Baixar depend칡ncias de composer
            php composer.phar install --no-dev --prefer-dist --optimize-autoloader

            # Criar .env e setar APP_KEY
            php -r "file_exists('.env') || copy('.env.example', '.env');"
            php artisan key:generate

            # Alterar vari치veis de ambiente, debug e log
            sed -i 's/^APP_ENV=local/APP_ENV=production/' .env
            sed -i 's/^APP_DEBUG=true/APP_DEBUG=false/' .env
            sed -i 's/^LOG_CHANNEL=stack/LOG_CHANNEL=daily/' .env

            # Alterar  vari치veis de nome da aplica칞칚o e url
            sed -i 's/^APP_NAME=Laravel/APP_NAME=FinSync/' .env
            sed -i 's|^APP_URL=http://localhost|APP_URL="https://finsync.ccidadania.com"|' .env

            # Alterar vari치vel de configs de BD
            sed -i 's/^DB_DATABASE=laravel/DB_DATABASE=${{ vars.DB_DATABASE }}/' .env
            sed -i 's/^DB_USERNAME=root/DB_USERNAME=${{ secrets.DB_USERNAME }}/' .env
            sed -i 's/^DB_PASSWORD=/DB_PASSWORD=${{ secrets.DB_PASSWORD }}/' .env

            # Adicionar novas vari치veis no final do arquivo
            echo -e '\n# CAMINHO DE ACESSO AO CERTIFICADO E KEY:' >> .env
            echo -e 'API_CERT_PATH="app/private/certificates/"' >> .env
            echo -e 'API_KEY_PATH="app/private/keys/"' >> .env
            echo -e 'ENVIRONMENT_API="production"' >> .env
            echo -e '\nSANTANDER_BASE_URI_SANDBOX="https://trust-sandbox.api.santander.com.br"' >> .env
            echo -e 'SANTANDER_BASE_URI="https://trust-open.api.santander.com.br"' >> .env
            echo -e 'PAGBANK_BASE_URI="https://edi.api.pagseguro.com.br/edi/v1"' >> .env

            # Instalar tabelas no BD
            php artisan migrate --force
            php artisan db:seed --force

            # Criar e configurar o arquivo .htaccess
            echo -e '<IfModule mod_rewrite.c>\nRewriteEngine On\nRewriteBase /\nRewriteRule ^-$public/index.php [L]\nRewriteRule ^((?!public/).*)$ public/$1 [L]\n</IfModule>' > .htaccess
